#artist {
	.has-header {
		top: 0;
	}
	.image-header {
		height: 216px;
		img {
			width: 100%;
		}
		@media (max-width: 320px) {
			height: 192px;
		}
	}
	.performance {
		background-color: $red;
		background-image: url("../img/crinkles/artist-cr.svg");
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: center center;
		padding: 40px 20px;
		h1 {
			font-size: 1.4em;
			display: inline-block;
			margin: 0;
			padding: 0 5px 5px 5px;
		}
		p {
			font-size: 1.2em;
			display: inline-block;
			margin: 0;
			padding: 5px 5px 0px 5px;
		}
	}
	.spotify {
		padding: 20px;
		background-color: $black;
		div {
			font-size: 0.34em;
			line-height: 1.2em;
		}
		.videogular-container {
			background: none;
		}
		vg-media {
			display: none !important;
		}
		vg-controls {
			min-height: 50px; 
			top:0 !important; 
			position:static !important;
		}

		vg-time-display, vg-scrub-bar {
			display:inline-block !important;
		}
		vg-time-display {
			width: 20% !important;
			font-size: 0.9em;
		}
		vg-scrub-bar {
			width: 60% !important;
			div {
				margin: 0;
				background-color: rgba(255,255,255,0.4);
				height: 3px;
			}
		}
		vg-play-pause-button {
			display: block !important;
			width: 100%;
			.play {
				font-size: 1.4em
			}
			.iconButton {
				&:focus {
					border: none;
				}
			}
		}
		.controls-container {
			padding: 15px;
			background: none !important;
		}
	}

	.social-media {
		padding: 20px 6% 10px 6%;
		height: 77px;
		a {
			background-repeat: no-repeat;
			background-position: center;
			padding: 0;
			min-width: 47px;
		}
		.facebooklink {
			background-image: url("../img/facebook.svg");
		}
		.twitterlink {
			background-image: url("../img/twitter.svg");
		}
		.spotifylink {
			background-image: url("../img/spotify.svg");
		}
		.youtubelink {
			background-image: url("../img/youtube.svg");
		}
	}
	.info {
		padding: 20px 6%;
		h2 {
			font-size: 1em;
		}
		p {
			font-size: 0.88em;
			line-height: 1.5em;
		}
	}
}