#favorites {
	.has-header {
		top: 0;
	}
	.tabs-top > .tabs {
		top: 100px;
		height: 45px;
		color: $black;
		background-image: none;
		.tab-item {
			font-size: 1.5em;
			line-height: 40px;
			span {
				color: $black;
				font-family: 'proxima_nova_bold';
				font-size: 0.95em;
			}
		}
		.tab-item-active {
			color: $black;
			border-bottom: 5px inset $red !important;
		}
	}

	#content {
		top: 145px;
		.list {
			.artist:last-child {
				.info {
					border-bottom: none;
				}
			}
			.item {
				border: none;
			}
			a {
				padding: 0;
			}
		}
		.favorite-image {
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 120px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-right: 5px inset $green;
		}
		.info {
			margin: 30px 27px 0px 150px;
			padding-bottom: 30px;
			border-bottom: 3px solid $grey;
			h2 {
				font-size: 1.1em;
				margin-bottom: 15px;
			}
			.area {
				font-size: 0.8em;
				color: $green;
				margin: 0;
			}
			.time {
				font-size: 0.8em;
				line-height: 10px;
			}
		}
		.text-wrap{
			height: 100px;
			margin-top: 25%;
		}
		.text-head{

			text-align: center;
			font-size: 2em;
			margin-top: 25px;
		}
		.text{
			margin-top: 5%;
			color: $green;
		}
		#crinkle-no-favourite{
			margin-top: 20px;
		}
		.text-small{
			width: 80%;
			text-align: center;
			color: $black;
			font-size: 0.5em;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			line-height: 2.4;
			i:before {
				padding-left: 1%;
				padding-right: 1%;
				font-size: 1.8em;
				vertical-align: middle;
			}
		}
		.Diamond {

		    border-color: $red !important;
			.area {
				color: $red !important;
			}
		}
		.LOVE {
		    border-color: $green !important;
			.area {
				color: $green !important;
			}
		}
		.Ants {
		    border-color: $yellow !important;
			.area {
				color: $yellow !important;
			}
		}
		.Cobalt {
		    border-color: $orange !important;
			.area {
				color: $orange !important;
			}
		}
		.Quartz {
		    border-color: $purple !important;
			.area {
				color: $purple !important;
			}
		}
		.Crystal {
		    border-color: $blue !important;
			.area {
				color: $blue !important;
			}
		}
		.Ensuite {
		    border-color: $black !important;
			.area {
				color: $black !important;
			}
		}
	}

}
