// Colors
$red: #E64551;
$white: #FFFFFF;
$purple: #915F9F;
$black: #3D3936;
$green: #78B75A;
$yellow: #F8DC3B;
$blue: #4BB8D6;
$orange: #F09202;

// Proxima nova font
@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.svg#proxima_nova_alt_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_extrabold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.svg#proxima_nova_altextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Ionic resetting
.row, .col {
    padding: 0;
    margin: 0;
}

// font style app
h1, h2, h3, h4, h5, h6, p, span, a, button, div, .time { 
    font-family: 'proxima_nova_regular';
}
.semibold {
    font-family: 'proxima_nova_semibold';
}
.bold {
    font-family: 'proxima_nova_bold';
}
.extrabold {
    font-family: 'proxima_nova_extrabold';
}

// color classes
.color-red {
    color: $red !important;
}
.color-white {
    color: $white !important;
}
.color-purple {
    color: $purple !important;
}
.color-black {
    color: $black !important;
}
.color-green {
    color: $green !important;
}
.color-yellow {
    color: $yellow !important;
}
.color-blue {
    color: $blue !important;
}
.color-orange {
    color: $orange !important;
}

// color classes
.color-bg-red {
    background-color: $red !important;
}
.color-bg-white {
    background-color: $white !important;
}
.color-bg-purple {
    background-color: $purple !important;
}
.color-bg-black {
    background-color: $black !important;
}
.color-bg-green {
    background-color: $green !important;
}
.color-bg-yellow {
    background-color: $yellow !important;
}
.color-bg-blue {
    background-color: $blue !important;
}
.color-bg-orange {
    background-color: $orange !important;
}

.nopadding {
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

.full-width {
    width: 100%;
    display: block;
}

// For styling the custom headers
#logo {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: $red;
    z-index: 100;
	padding: 23px 34px;
	h1.title {
		line-height: 100px;
	}
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    position: relative;
    top: 100px;
}