#info {
	.has-header {
		top: 0;
	}
	#logo {
		padding: 27px 34px;
	}
	.list {
		.item {
			display: block;
			margin: 0;
			padding: 11%;
			padding-top: 2%;
			width: 50%;
			float: left;
			white-space: normal;
			border-top: none;
			img {
				display: block;
				margin: 14%;
				margin-bottom: 4%;
			}
			.title {
				font-size: 0.85em;
				height: 40%;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			&:nth-child(even) {
				border-left: none;
				border-right: none;
			}
			&:nth-child(odd) {
				border-left: none;
			}
			&:last-child, &:nth-child(5) {
				border-bottom: none;
			}
			@media (max-height: 480px) {
				border: 0;
				padding: 10%;
				padding-top: 5%;
				img {
					margin: 0 15% 5% 15%;
				}
			}
		}
	}
}