#infoPage {
	#logo{ 
		.title {
			font-size: 3em;
			line-height: 54px;
			margin-bottom: 0;
		}
		.howtogetthere, .hotelpackages {
			font-size: 2em;
		}
	}
	.has-header {
		top: 0;
	}
	.info-card {
		margin: 10px 0;
		.title {
			background-color: $red;
			font-size: 18px;
		}
		p {
			margin: 0;
		}
		table {
			margin: 10px;
		}
	}
}