#map {
	.has-header {
		top: 0;
	}
	ion-scroll {
		height: 470px;
		width: 360px;
	}
 	#map-image{
		width: 1440px;
		height: 1440px;
	}
	svg {
		max-width: 100%;
		padding: 5px;
	}
	#animatie1 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		animation-delay: 2s;
		-webkit-animation: dash 5s linear alternate infinite;
		-webkit-animation-delay: 2s;
	}

	#animatie2 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		-webkit-animation: dash 5s linear alternate infinite;
	}

	#animatie3 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		animation-delay: 4s;
		-webkit-animation: dash 5s linear alternate infinite;
		-webkit-animation-delay: 4s;
	}

	#animatie4 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		-webkit-animation: dash 10s linear alternate infinite;
	}

	#animatie5 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		-webkit-animation: dash 10s linear alternate infinite;
	}

	#animatie6 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		animation-delay: 1s;
		-webkit-animation: dash 5s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie7 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		-webkit-animation: dash 10s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie8 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		animation-delay: 3s;
		-webkit-animation: dash 5s linear alternate infinite;
		-webkit-animation-delay: 3s;
	}

	#animatie9 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear alternate infinite;
		animation-delay: 1s;
		-webkit-animation: dash 5s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie10 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		animation-delay: 2s;
		-webkit-animation: dash 10s linear alternate infinite;
		-webkit-animation-delay: 2s;
	}
}
