#memoriesUitleg {
	.has-header {
		top: 0;
	}
    .uitlegheader {
        height: 170px;
	   .icon{
            width: 70px;
            margin-bottom: 10px;
            padding-top: 20px;
    	}
        div{
            &:last-child{
                padding-bottom: 20px;
                font-size: 1.46em;
            }
        }
    }
    .slider-slide{
        padding: 30px;
        h4{
            margin-bottom: 20px;
        }
        .step1 p  {
            line-height: 30px;
            vertical-align: top;
            height: 30px;
            font-size: 1.2em;
            margin-bottom: 15px;
            .bullet{
                width: 30px;
                margin-right: 20px;
            }
        }
        .nextbutton{
            background-image: url("../img/xomemories/next-icon.svg");
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            bottom: 40px;
            right: 30px;
            height: 40px;
            width: 40px;
        }
        .prevbutton{
            background-image: url("../img/xomemories/previous-icon.svg");
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            bottom: 40px;
            left: 30px;
            height: 40px;
            width: 40px;
        }
        .step2 {
            p{
                height: 80px;
                font-size: 1.2em;
            }
        }
        .step3{
            p{
                font-size: 1.2em;
            }
            .go{
                text-decoration: none;
                line-height: 80px;
                font-size: 2.3em;
                background-color: $red;
                border-radius: 100%;
                display: block;
                position: absolute;
                bottom: 40px;
                right: 30px;
                height: 80px;
                width: 80px;
            }
        }

    }
    .slider-pager{
        bottom: 30px;
        .active {
            color: $red;
        }
    }
}
.platform-ios #memoriesUitleg {
	@media (max-height: 570px) {
        .step2, .step3 {
            p{
                font-size: 1em;
            }
        }
	}
	@media (max-height: 480px) {
        .uitlegheader{
            height: 120px;
            .icon{
                width: 50px;
                margin-bottom: 5px;
                padding-top: 10px;
            }
        }
        .slider {
            min-height: 260px;
        }
        .slider-slide{
            padding: 10px 30px;
        }
        .step1 {
            p{
                margin-bottom: 10px;
                font-size: 1.1em;
            }
        }
        .step2{
            padding-top: 20px;
        }
	}
}
