#memories {
	.has-header {
		top: 0;
	}
	.list{
		padding-top: 0;
	}
	.item{
		border:0;
		text-align: center;
		background-color:#7FF;
		position:relative;
		margin:0;
		padding:0;
	}
	.add{
		height: 160px;
	}
	.image{
		margin-top: 0;
	}
	.wrap{
		position: relative;
		top: 15%;
	}
	.icon{
		width: 80px;
	}
	.item p{
		margin: 10px 0 0 0;
	}
	.limit {
		margin-top: 0!important;
	}
	.item:after {
		//border-bottom:10px solid #7FF;
		border-left:10px solid transparent;
		border-right:10px solid transparent;
		width:100%;
		height:160px;

		content:"";
		display:block;
		position:absolute;
		bottom:100%;
		left:1em;
	}
	.next{
		height: 100px;
		.nextwrap{
			position: relative;
			top: 33%;
		}
		p {
			font-size: 1.4em;
			display: inline;
		}
		.leftcr, .rightcr{
			height: 12px;
		}
	}


	$trianglesize:10px;
	.triangle1{
		width: 0;
		height: 0;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: $trianglesize $trianglesize 0 $trianglesize;
		border-color: $blue transparent transparent transparent;
	}
	.triangle2{
		width: 0;
		height: 0;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: $trianglesize $trianglesize 0 $trianglesize;
		border-color: $orange transparent transparent transparent;
	}
	.triangle3{
		width: 0;
		height: 0;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: $trianglesize $trianglesize 0 $trianglesize;
		border-color: $green transparent transparent transparent;
	}
	.zindex4{
		z-index: 40;
	}

	.zindex3{
		z-index: 30;
	}
	.zindex2{
		z-index: 20;
	}
	.zindex10{
		z-index: 10;
	}
	.zindex0{
		z-index: 0;
	}
	.divBack{
		width:20px;
		height:20px;
		float:left;
	}
	#bWrap{
		position: absolute;
		height: 105%;
		width: 100%;
		display:block;

	}
	.row{
		height: 50%;
	}
	.col{
	}
	#blueBg{
		background-color: $blue-trans;
		display: block;
		width: 100%;
		height: 105%;
		position: absolute;
	}

}
.platform-ios #memories {
	.nextwrap {
		top: 25%;
	}
	@media (max-height: 570px) {
		.wrap{
			top: 18%;
		}
		.icon{
			width: 70px;
		}
		.item p {
			margin-top: 10px;
		}
		.limit {
			margin-top: 0!important;
		}
		.next{
			.nextwrap{
				top: 23%;
			}
			p{
				font-size: 1.2em;
			}
			.leftcr, .rightcr{
				height: 10px;
			}
		}
	}
	@media (max-height: 480px) {
		.icon{
			width: 60px;
		}
		.wrap{
			top: 13%;
		}
	}
}

// #memories {	.has-header {
// 		top: 0;
// 	}
//
// 	svg {
// 		max-width: 100%;
// 		padding: 10px;
// 	}
// 	#animatie1 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		animation-delay: 2s;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 		-webkit-animation-delay: 2s;
// 	}
//
// 	#animatie2 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 	}
//
// 	#animatie3 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		animation-delay: 4s;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 		-webkit-animation-delay: 4s;
// 	}
//
// 	#animatie4 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 10s linear alternate infinite;
// 		-webkit-animation: dash 10s linear alternate infinite;
// 	}
//
// 	#animatie5 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 10s linear alternate infinite;
// 		-webkit-animation: dash 10s linear alternate infinite;
// 	}
//
// 	#animatie6 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		animation-delay: 1s;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 		-webkit-animation-delay: 1s;
// 	}
//
// 	#animatie7 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		-webkit-animation: dash 10s linear alternate infinite;
// 		-webkit-animation-delay: 1s;
// 	}
//
// 	#animatie8 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		animation-delay: 3s;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 		-webkit-animation-delay: 3s;
// 	}
//
// 	#animatie9 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 5s linear alternate infinite;
// 		animation-delay: 1s;
// 		-webkit-animation: dash 5s linear alternate infinite;
// 		-webkit-animation-delay: 1s;
// 	}
//
// 	#animatie10 {
// 		stroke-dasharray: 1000;
// 		stroke-dashoffset: 1000;
// 		animation: dash 10s linear alternate infinite;
// 		animation-delay: 2s;
// 		-webkit-animation: dash 10s linear alternate infinite;
// 		-webkit-animation-delay: 2s;
// 	}
// }
