#news {
	background-color: $grey;
	.has-header {
		top: 0px;
	}
	#logo {
		height: 150px;
		padding: 28px 30px;


	}
	.platform-ios #logo {
		padding-top: 40px;
	}
	#content {
		top: 150px;
	}
	#countText{
		font-size: 2em;
	}


	// Page styling
	#counter {
		background-color: #4BB8D6;
		border: none;
		font-size: 0.7em;
		padding:10%;
		div {
			color: $white;
			&.timer{
				line-height: 15px;
				min-width: 25%;
				display: inline-block;
				text-align: center;
			}
			&.timerTime{
				line-height: 15px;
				min-width: 22%;
				display: inline-block;
				font-size: 4em;
				margin-top: 8%;
				text-align: center;
			}
			&.betweenTime{
				display: inline-block;
				text-align: center;
				font-size: 4em;
			}
		}
		.thanks {
			white-space: normal;
			font-size: 2.3em;
		}
	}
	.news-item {
		margin: 16px;
		padding: 0;
		min-height: 90px;
		white-space: normal;

		.news-image {
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 87px;
			background-color: $green;
			background-image: url("../img/xo-logo-white.svg");
			background-size: 80%;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.message {
			padding: 12px 12px 12px 99px;
			h2 {
				font-size: 0.63em;
				margin-bottom: 1px;
			}
			.twitter-id {
				font-size: 0.55em;
				line-height: 9px;
			}
			.date {
				font-size: 0.6em;
				top: 12px;
				right: 12px;
				width: 18px;
				white-space: normal;
				line-height: 11px;
				&:before {
					content: "\00a0";
				}
			}
			.content {
				font-size: 0.7em;
				padding: 10px 0;
				white-space: normal;
				line-height: 16px;
				p {
					white-space: normal;
				}
			}
			.hashtag {
				color: $blue !important;
			}
			.twitter-emoji{
				width: 5%;
			}
			s{
				text-decoration: none;
			}

		}
		a{
			color: $blue !important;		
		}
	}

	// Animation
	#animatie1 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 6s linear alternate infinite;
		animation-delay: 1s;
		-webkit-animation: dash 6s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie2 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 4s linear alternate infinite;
		-webkit-animation: dash 4s linear alternate infinite;
	}

	#animatie3 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 7s linear alternate infinite;
		animation-delay: 2s;
		-webkit-animation-delay: 2s;
		-webkit-animation: dash 7s linear alternate infinite;
	}

	#animatie4 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		-webkit-animation: dash 10s linear alternate infinite;
	}

	#animatie5 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		-webkit-animation: dash 10s linear alternate infinite;
	}

	#animatie6 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 7s linear alternate infinite;
		animation-delay: 1s;
		-webkit-animation: dash 7s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie7 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear alternate infinite;
		animation-delay: 1s;
		-webkit-animation: dash 10s linear alternate infinite;
		-webkit-animation-delay: 1s;
	}

	#animatie8 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 7s linear alternate infinite;
		animation-delay: 3s;
		-webkit-animation: dash 7s linear alternate infinite;
		-webkit-animation-delay: 3s;
	}

	#animatie9 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 7s linear alternate infinite;
		animation-delay: 2s;
		-webkit-animation: dash 7s linear alternate infinite;
		-webkit-animation-delay: 2s;
	}
}
