#news {
	.has-header {
		top: 0px;
	}
	#logo {
		height: 130px;
		padding: 25px 30px;
	}
	#content {
		top: 130px; 
	}

	// Page styling
	#counter {
		background-color: #4BB8D6;
		border: none;
		p {
			color: #fff;
			font-size: 3em;
			&.timer{
				line-height: 115px;
			}
		}
	}
}