#schedule {
	.blocker {
			position: absolute;
		  top: 0;
		  left: 0;
		  display: block;
		  z-index: 100;
		  height: 60px;
		  width: 360px;
	}
	.spacer {
		position: absolute;
		left: 0;
		height: 60px;
		width: 30px;
		border-right: 3px solid $red;
	}
	.stages {
		margin-left: 30px;
		.stage {
			padding: 10px;
		}
	}
	#schedule-bg-scroll {
		display: block;
		background-color: $white;
		background-image: linear-gradient(rgb(230,230,230) 50%, transparent 50%);
		background-size: 180px 180px;
		position: absolute;
		left: 30px;
	}
	#hours {
		display: block;
	  background-image: url("../img/times.svg");
	  background-position: center 3px;
	  background-size: 10px 1108px;
	  background-repeat: no-repeat;
	  position: absolute;
	  height: 1322px;
	  width: 30px;
	  border-right: 3px solid $red;
	  z-index: 100;
	}
	#timeline{
		width:1365px;
		height:2px;
		background-color: $red;
		position: relative;
		top:10px;
		opacity: 0.5;
		z-index: 10;
	}
	.has-header {
		top: 0;
	}
	.wide-as-needed {
		overflow: scroll;
		white-space: normal;
	}
	a {
		text-decoration: none;
	}

	.stage-name {
		color: $white;
		padding: 10px;
		font-size: 1.2em;
		width: 175px;
		&.Diamond {
			background-color: $diamond;
		}
		&.LOVE {
			background-color: $love;
		}
		&.Ants {
			background-color: $ants;
		}
		&.Cobalt {
			background-color: $cobalt;
		}
		&.Quartz {
			background-color: $quartz;
		}
		&.Crystal {
			background-color: $crystal;
		}
		&.Ensuite {
			background-color: $ensuite;
		}
	}

	.stage-artist {
		width:175px;
		color: $white;
		font-size: 1em;
		padding-bottom: 10px;
		display: block;

		.stage-time{
			font-size: 0.7em;
		}

		.Diamond {
			background-color: $diamond;
		}
		.LOVE {
			background-color: $love;
		}
		.Ants {
			background-color: $ants;
		}
		.Cobalt {
			background-color: $cobalt;
		}
		.Quartz {
			background-color: $quartz;
		}
		.Crystal {
			background-color: $crystal;
		}
		.Ensuite {
			background-color: $ensuite;
		}
		&.Oliver.Heldens {
			margin-top: 30px;
		}
		&.Bellen .Quartz {
			margin-top: 180px + 22.5px;
		}
	}
}
