#schedule {
	#schedule-bg-scroll {
		display: block;
		background-color: $white;
		background-image: linear-gradient(rgb(230,230,230) 50%, transparent 50%);
		background-size: 180px 180px;
	}
	#timeline{
		width:1365px;
		height:2px;
		background-color: $red;
		position: relative;
		top:10px;
		opacity: 0.5;
	}
	.has-header {
		top: 0;
	}
	.wide-as-needed {
		overflow: scroll;
		white-space: normal;
	}
	a {
		text-decoration: none;
	}

	.stage-name {
		color: $white;
		padding: 10px;
		font-size: 1.2em;
		width: 175px;
		&.Diamond {
			background-color: $red;
		}
		&.LOVE {
			background-color: $green;
		}
		&.Ants {
			background-color: $yellow;
		}
		&.Cobalt {
			background-color: $orange;
		}
		&.Quartz {
			background-color: $purple;
		}
		&.Crystal {
			background-color: $blue;
		}
		&.Ensuite {
			background-color: $black;
		}
	}

	.stage-artist {
		width:175px;
		color: $white;
		font-size: 1em;
		padding-bottom: 10px;
		display: block;

		.stage-time{
			font-size: 0.7em;
		}

		.Diamond {
			background-color: $red;
		}
		.LOVE {
			background-color: $green;
		}
		.Ants {
			background-color: $yellow;
		}
		.Cobalt {
			background-color: $orange;
		}
		.Quartz {
			background-color: $purple;
		}
		.Crystal {
			background-color: $blue;
		}
		.Ensuite {
			background-color: $black;
		}

		&.Jean .LOVE, &.Marcello .LOVE {
			margin-top: 90px;
		}
		&.Oliver {
			margin-top: 30px;
		}
		&.Bellen .Quartz {
			margin-top: 180px + 22.5px;
		}
	}
}
