<ion-view view-title="" id="infoPage">
<div id="logo">
	<h1 class="title text-center uppercase bold color-white" style="font-size: 24px">About us</h1>
</div>
<ion-content>
<div id="content" class="padding">

	<div class="info-card">
		<div class="title uppercase bold padding color-white">about us</div>
		<p class="padding">Extrema was among the first dance promoters and has been around since 1992. Besides organizing Solar Weekend in, among others, Oslo, Roermond and Ibiza, Extrema is also responsible for Extrema Outdoor in both Belgium (XO Belgium) and the Netherlands. This year marks the already 19<sup>th</sup> edition of dance festival Extrema Outdoor at recreational beach Aquabest.&nbsp;</p>
		<p class="padding"><strong>EXTREMA &hearts; PEOPLE &amp; PLANET<br /></strong>Since the early days Extrema has organized events simply to make people happy. We have taken that concept one step further and now, all of Extrema&rsquo;s events are being built on the foundation &lsquo;people &amp; planet&rsquo;.&nbsp;</p>
		<p class="padding">This entails Extrema's corporate social responsibility and the pursuit of this endeavor together with it's visitors, out of love for people and planet. For this reason, step by step, our events are being made more sustainable.</p>
		<p class="padding">Among other projects, this is achieved by initiating, stimulating and organizing the following:</p>
	</div>

	<div class="info-card">
		<div class="title uppercase bold padding color-white">planet</div>
		<p class="padding"><strong>TRANSPORTATION<br /></strong>By stimulating the use of carpooling and public transportation for both visitors and crew alike, we all do our part for a greener world. That is why we deploy coaches between Best train station and the festival grounds. For this we developed a special combiticket to go with your NS train ticket.&nbsp;</p>
		<p class="padding">In addition, together with organizations like Event Travel we offer group travel bus arrangements from all over the country and it's neighbors, and the possibility for carpooling through Toogether..</p>
		<p class="padding">For more information, <a href="../../../../../../nl/info#how-to-get-there%20" target="_blank">click here&gt;&gt;&gt;</a><br /></p>
		<p class="padding"><strong>WASTE<br /></strong>To create more awareness, together with waste and environment concern Van Gansewinkel and the XO Trash Teams we make sure the festival grounds stay clean and the waste is sorted as much as possible, enabling easier recycling for the materials seperated!</p>
	</div>

	<div class="info-card">
		<div class="title uppercase bold padding color-white">people</div>
		<p class="padding"><strong>TAP WATER<br /></strong>Water belongs to everyone and is of vital importance! Therefore we think it is only natural to offer free drinking water at the various sanitation units located on the festival grounds.</p>
		<p class="padding"><strong>SOUND</strong><br /> Of course sound systems are awesome and artists like to get the most out of them, but you have got to take care of your hearing. For this reason, already seven years ago Extrema was the first in Holland to cooperate with &lsquo;<a href="http://www.earproof.com/">Earproof</a>&rsquo; to make visitors aware of the damage loud music can do, in a positive way.</p>
		<p class="padding">What's more, acurate sound reports by ditto measurements are made to assure noise pollution is being kept to a minimum for the neighbors.&nbsp;</p>
		<p class="padding"><strong>ACCESSIBILITY FOR THE DISABLED<br /></strong>Anyone 18 or over is welcome at Extrema&rsquo;s events! We exclude no one. It is therefore important to us that people with, for example, a physical disability can experience the festival to it's fullest. That is why we make the festival grounds highly accessible by laying down driving plates and creating paved roads. Also sanitation for the disabled is found at every sanitation unit.</p>
		<p class="padding">Naturally, we are open to ideas and evaluation pionts regarding this matter (and others!). We are always available through: <a href="mailto:info@extrema.nl">info@extrema.nl</a><a href="../../../../../../cdn-cgi/l/email-protection#b6dfd8d0d9f6d3cec2c4d3dbd798d8da"></a></p>
		<p class="padding"><strong>FOOD<br /></strong>We like good food, eating responsibly we like even better! That is why we offer several organic eating and drinking possibilities on the festival grounds, such as an organic French/Arabic caterer, the scrumptious tomato-lentil soup by Lizz Bizz, the sustainable and organic Wokmobiel which offers products from local farmers, and even ecological, organic fair-trade donuts! Bon appetit!</p>
	</div>

</div>
</ion-content>
</ion-view>
