<ion-view view-title="" id="infoPage">
<div id="logo-boa" class="uppercase">
	<p>This app has been designed &amp<br>developed by</p>
	<img class="boa-blue-img" ng-src="img/boa-blue.svg">
	<p id="bot-of-aw" class="semibold">Bottle of Awesome</p>
</div>
<ion-content>
<div id="content-boa">
	<div class="uppercase questions">
		<p>ANY QUESTIONS? PLEASE CONTACT US AT</p>
	</div>

	<a class="mail-us semibold uppercase" ng-click="InAppBrowser()" ng-href="mailto:ask-us@bottleofawesome.nl?subject=I want info!">ASK-US@BOTTLEOFAWESOME.NL</a>

	<a class="linked semibold uppercase" ng-click="InAppBrowser()" ng-href="https://www.linkedin.com/profile/view?id=207548098&authType=NAME_SEARCH&authToken=ZrPg&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1435308137204%2Ctas%3Amieke">
		Mieke Hendriks<img class="linked-in-img" src="img/linked-in.svg"></a>

	
	<a class="linked semibold uppercase" ng-click="InAppBrowser()" ng-href="https://www.linkedin.com/profile/view?id=206562220&authType=NAME_SEARCH&authToken=a0RT&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1435308398074%2Ctas%3Arick%20beumers">
		Rick Beumers<img class="linked-in-img" src="img/linked-in.svg"></a>


	<a class="linked semibold uppercase" ng-click="InAppBrowser()" ng-href="https://www.linkedin.com/profile/view?id=139379773&authType=NAME_SEARCH&authToken=SFTj&locale=en_US&srchid=1463160901435308429412&srchindex=1&srchtotal=34&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1463160901435308429412%2CVSRPtargetId%3A139379773%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue">
		Bas Hendriks<img class="linked-in-img" src="img/linked-in.svg"></a>

	<a class="linked semibold uppercase" ng-click="InAppBrowser()" ng-href="https://www.linkedin.com/profile/view?id=175581783&authType=NAME_SEARCH&authToken=HAbh&locale=nl_NL&srchid=1463160901435308453260&srchindex=1&srchtotal=2&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1463160901435308453260%2CVSRPtargetId%3A175581783%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue">
		Martijn de Win<img class="linked-in-img" src="img/linked-in.svg">
	</a>

	<a class="linked semibold uppercase" ng-click="InAppBrowser()" ng-href="https://www.linkedin.com/vsearch/f?type=all&keywords=Jos+van+de+Manakker&orig=GLHD&rsid=&pageKey=nprofile_view_nonself&trkInfo=tarId%3A1435308472877&search=Search">
		Jos van de Manakker<img class="linked-in-img" src="img/linked-in.svg">
	</a>

</div>
</ion-content>
</ion-view>