<ion-view view-title="" id="infoPage">
<div id="logo-boa" class="uppercase">
		<p>This app has been designed &amp<br>developed by</p>
		<img class="boa-blue-img" ng-src="img/boa-blue.svg">
		<p id="bot-of-aw" class="semibold">Bottle of Awesome</p>
</div>
<ion-content>
<div id="content">

	
	<div class="uppercase questions">
		<p>ANY QUESTIONS? PLEASE CONTACT US AT</p>
		<p id="email" class="semibold"><a class="semibold" href="mailto:bottleofawesome@gmail.com?subject=I want info!">BOTTLEOFAWESOME@GMAIL.COM</a></p>
	</div>

	<div class="linked semibold uppercase">
		Mieke Hendriks<a ng-click="InAppBrowser()" href="https://www.linkedin.com/profile/view?id=207548098&authType=NAME_SEARCH&authToken=ZrPg&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1435308137204%2Ctas%3Amieke"><img class="linked-in-img" src="img/linked-in.svg"></a>
	</div>

	<div class="linked semibold uppercase">
		Rick Beumers<a ng-click="InAppBrowser()" href="https://www.linkedin.com/profile/view?id=206562220&authType=NAME_SEARCH&authToken=a0RT&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1435308398074%2Ctas%3Arick%20beumers"><img class="linked-in-img" src="img/linked-in.svg"></a>
	</div>

	<div class="linked semibold uppercase">
		Bas Hendriks<a ng-click="InAppBrowser()" href="https://www.linkedin.com/profile/view?id=139379773&authType=NAME_SEARCH&authToken=SFTj&locale=en_US&srchid=1463160901435308429412&srchindex=1&srchtotal=34&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1463160901435308429412%2CVSRPtargetId%3A139379773%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue"><img class="linked-in-img" src="img/linked-in.svg"></a>
	</div>

	<div class="linked semibold uppercase">
		Martijn de Win<a ng-click="InAppBrowser()" href="https://www.linkedin.com/profile/view?id=175581783&authType=NAME_SEARCH&authToken=HAbh&locale=nl_NL&srchid=1463160901435308453260&srchindex=1&srchtotal=2&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1463160901435308453260%2CVSRPtargetId%3A175581783%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue"><img class="linked-in-img" src="img/linked-in.svg"></a>
	</div>

	<div class="linked semibold uppercase">
		Jos van de Manakker<a ng-click="InAppBrowser()" href="https://www.linkedin.com/vsearch/f?type=all&keywords=Jos+van+de+Manakker&orig=GLHD&rsid=&pageKey=nprofile_view_nonself&trkInfo=tarId%3A1435308472877&search=Search"><img class="linked-in-img" src="img/linked-in.svg"></a>
	</div>

</div>
</ion-content>
</ion-view>

<!-- <ion-view view-title="" id="boa">
<div id="logo">
	<h1 class="title text-center uppercase bold color-white">Bottle of Awesome</h1>
</div>
<ion-content>
	<div id="content" class="padding">
		<div class="boa-blue">
			<p>THIS APP HAS BEEN DESIGNED &amp DEVELOPED BY</p>
			<img src="">
			<p>Bottle of Awesome</p>
			</div>
		</div>
	</ion-content>
</ion-view>	 -->