<ion-view view-title="" id="infoPage">
	<div id="logo">
		<h1 class="title text-center uppercase bold color-white">General</h1>
	</div>
<ion-content>
	<div id="content" class="padding">
		<div class="info-card">
			<div class="title uppercase bold padding color-white">general</div>
			<p class="padding">Extrema Outdoor eg, hereinafter referred to as XO, hereby grants you access to xofestival.nl (the Website) and invites you to buy what is offered. XO thereby reserves the right at any time to modify the contents or parts removed without notice to you about having to do.</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">Limitation of Liability</div>
			<p class="padding">XO is committed to the content of the website as often as possible to update and / or supplement. Despite this care and attention it is possible that content is incomplete and / or incorrect.</p>
			<p class="padding">Specifically for prices and other information products on the Website are subject to manifest programming and typing errors. Can be based on such errors do not claim agreement with XO.</p>
			<p class="padding">The content of the Website is partially automated way obtained. XO does its best this content as often as possible to update and / or supplement. Nevertheless it is possible that the content is incomplete, outdated and / or incorrect.</p>
			<p class="padding">Users can post content on the Website. XO this exerts no editorial control or supervision. XO will seriously investigate complaints about user content and intervene where appropriate. Please contact us via the contact form.</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">Royalty</div>
			<p class="padding">All intellectual property rights concerning these materials lie in XO and its licensors and users. Copying, distribution and any other use of these materials is prohibited without written permission of XO, except and only to the extent otherwise provided in regulations of mandatory law (such as quotation right), unless otherwise indicated in specific materials.</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">Other</div>
			<p class="padding">This disclaimer may change from time to time.</p>
		</div>
	</div>
</ion-content>
</ion-view>