<ion-view view-title="" id="infoPage">
	<div id="logo">
  		<h1 class="title text-center uppercase bold color-white hotelpackages" style="font-size:20px;">Hotel packages</h1>
  	</div>
  	<ion-content>
		<div id="content" class="padding">
			<div class="info-card">
				<div class="title uppercase bold padding color-white">Inntel Hotels Art Eindhoven</div>
				<p class="padding">
					<b>For the artistic type</b><br/>
					Sleep in style in the historical Philips Factory with its characteristic Light Tower.<br /> 
					Each room comes with Italian designer bathrooms and, of course, a king size bed. <br />
					Still not luxurious enough? We offer the the chance to upgrade to the special Art Jacuzzi room. <br />
					Enjoy the bubbles and the view of Eindhoven&rsquo;s city centre.<br />
					1-, 2- or 3-bedroom + ticket starting at &euro;129 pp<br />
					2-bedroom Art Jacuzzi + ticket starting at &euro;145 pp<br />
				</p>
			</div>
			
			<div class="info-card">
				<div class="title uppercase bold padding color-white">NH BEST</div>
				<p class="padding">
					<b>For the easy type</b><br/>
					Groovy man. So close to the festival! <br/>
					And even a shuttle bus to bring and collect you. <br/>
					You&rsquo;ll save all your energy for Extrema Outdoor itself, &rsquo;cause dancing is inevitable. <br/>
					When waking up the next day, you&rsquo;ll be greeted with a lovely breakfast. <br/>
					Losing those last beads of sweat in the sauna is also included. <br/>
					Too hot for you? Wash away your hangover in the heated indoor pool. <br/>
					Checkout is at 05:00 PM.<br/>
					1-bedroom + ticket starting at &euro;165 pp<br />2-bedroom + ticket starting at &euro;117,50 pp
				</p>
			</div>
			
			<div class="info-card">
				<div class="title uppercase bold padding color-white">Holiday Inn</div>
				<p class="padding">
					<b>For the sporty type</b><br/>
					Hotel, motel&hellip; Nevermind. <br/>
					Swimming, sports, food but above all getting rid of your hangover. <br/>
					It&rsquo;s all possible at Holiday Inn Eindhoven. <br/>
					Enjoy a well-earned breakfast after a beautiful festival day and night. <br/>
					Sleep in with a late checkout at 13:00!<br/>
					1-bedroom + ticket starting at &euro;165 pp<br />2-bedroom + ticket starting at &euro;125 pp<br/>
					
				</p>
			</div>
			
			<div class="info-card">
				<div class="title uppercase bold padding color-white">Blue Collar Hotel</div>
				<p class="padding">
					<b>For the sleepy type</b><br/>
					Situated at hip Strijp-S and the Klokgebouw.<br />
					The Blue Collar Hotel offers four different packages. <br />
					What do they have in common? Free aspirin with a late breakfast, and checkout available at 14:00!&nbsp;<br />
					1-bedroom + ticket starting at &euro;112,50 pp<br />
					2-bedroom + ticket starting at &euro;85,25 pp<br />
				</p>
			</div>
			
			<div class="info-card">
				<div class="title uppercase bold padding color-white">For the traveling type</div>
				<p class="padding">
					Are you traveling from abroad? Find our special international packages on our website 
				</p>
			</div>
			
			
			
			
	
			

		</div>
  	</ion-content>
</ion-view>
