<ion-view view-title="" id="infoPage">
	<div id="logo">
  		<h1 class="title text-center uppercase bold color-white hotelpackages" style="font-size:20px;">Hotel packages</h1>
  	</div>
  	<ion-content>
		<div id="content" class="padding">
			<div class="info-card">
				<div class="title uppercase bold padding color-white">4**** Inntel Hotels Art Eindhoven</div>
				<p class="padding">Address: Lichttoren 22, 5611 BJ, Eindhoven<br />&euro; 125.00 per person per night based on standard double room.<br />Single room rates upon request.<br />Credit card guarantee is obligated<br />For reservations + info call +31(0)40 - 751 3500 or <a href="mailto:reservations@arthoteleindhoven.com"></a></p>
				<p class="padding">This arrangement includes:</p>
				<ul class="padding">
				<li>1 overnight stay in design room, breakfast (until 11:00), entrance ticket (incl. ticket fee)&nbsp;</li>
				<li>Shuttle bus to and from the XO &nbsp;terrain</li>
				<li>Tourist tax</li>
				<li>Late check-out until 13:00</li>
				<li>Bookable at 12 July 2014 only</li>
				<li>XO+ upgrade possible for &euro; 30,00 pp&nbsp;</li>
				</ul>
			</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">3*** NH Best</div>
			<p class="padding">Address: De Maas 2, 5684 PL, Best<br />Check in 12 July: &euro; 110,00 per person based on a standard double room<br />Check in 11 July: &euro; 139.50 per person based on a standard double room<br />Single room rates upon request;</p>
			<p class="padding">This arrangement includes:</p>
			<ul class="padding">
			<li>1 overnight stay, breakfast (until 12:00), entrance ticket (incl. ticket fee)&nbsp;</li>
			<li>Shuttle bus to and from the XO terrain</li>
			<li>Tourist tax</li>
			<li>Free use of swimming pool &amp; sauna</li>
			<li>Late check-out until 14:00</li>
			<li>XO+ upgrade possible for &euro; 30,00 pp&nbsp;</li>
			</ul>
		</div>


		<div class="info-card">
			<div class="title uppercase bold padding color-white">4**** Holiday Inn Eindhoven</div>
			<p class="padding">Address: Veldmaarschalk Montgomerylaan 1, 5612 BA, Eindhoven<br />&euro; 125.00 per person per night based on standard double room<br />Single room surplus : &euro; 40,00<br />For reservations + info call: +31(0)40 - 235 8245 or <a href="mailto:reservations@eindhoven.holiday-inn.com"></a>&nbsp;</p>
			<p class="padding">This arrangement includes:</p>
			<ul class="padding">
			<li>1 overnight stay, breakfast (until 12:00), entrance ticket (incl. ticket fee)</li>
			<li>Shuttle bus to and from the XO terrain</li>
			<li>Tourist tax</li>
			<li>Late check-out until 13:00</li>
			<li>Bookable at 12 July 2014 only</li>
			<li>Reservations can be changed or cancelled without costs until 1 July 2014.&nbsp;Afterwards the arrangement will be charged</li>
			<li>XO+ upgrade possible for &euro; 30,00 pp</li>
			</ul>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">For the artistic type</div>
			<p class="padding"><b>Inntel Hotels Art Eindhoven</b><br/>
			<p class="padding">Sleep in style in the historical Philips Factory with its characteristic Light Tower. Each room comes with Italian designer bathrooms and, of course, a king size bed. Still not luxurious enough? We offer the the chance to upgrade to the special Art Jacuzzi room. Enjoy the bubbles and the view of Eindhoven&rsquo;s city centre.</p>
			<p class="padding">1-, 2- or 3-bedroom + ticket starting at &euro;129 pp<br />2-bedroom Art Jacuzzi + ticket starting at &euro;145 pp</p>
			<p class="padding">Go to <a href="https://gc.synxis.com/rez.aspx?Hotel=61023&amp;Chain=10315&amp;locale=en-US&amp;arrive=7/11/2015&amp;depart=7/12/2015&amp;adult=2&amp;child=0&amp;promo=EXTREMA&amp;start=availresults" target="_blank">this page</a> for booking this package</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">For the easy type</div>
			<p class="padding"><b>NH BEST</b><br/></p>
			<p class="padding">Groovy man. So close to the festival! And even a shuttle bus to bring and collect you. You&rsquo;ll save all your energy for Extrema Outdoor itself, &rsquo;cause dancing is inevitable. When waking up the next day, you&rsquo;ll be greeted with a lovely breakfast. Losing those last beads of sweat in the sauna is also included. Too hot for you? Wash away your hangover in the heated indoor pool. Checkout is at 05:00 PM.</p>
			<p class="padding">1-bedroom + ticket starting at &euro;165 pp<br />2-bedroom + ticket starting at &euro;117,50 pp</p>
			<p class="padding">Please contact&nbsp;<a href="mailto:nhbest@nh-hotels.com">nhbest@nh-hotels.com</a>&nbsp;for reservations.</p>
			<p class="p1">&nbsp;</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">For the sporty type</div>
			<p class="padding"><b>Holiday Inn</b><br/></p>
			<p class="padding">Hotel, motel&hellip; Nevermind. Swimming, sports, food but above all getting rid of your hangover. It&rsquo;s all possible at Holiday Inn Eindhoven. Enjoy a well-earned breakfast after a beautiful festival day and night. Sleep in with a late checkout at 13:00!</p>
			<p class="padding">1-bedroom + ticket starting at &euro;165 pp<br />2-bedroom + ticket starting at &euro;125 pp</p>
			<p class="padding">Please contact&nbsp;<span class="s2"><a href="mailto:reservations@eindhoven.holiday-inn.com">reservations@eindhoven.holiday-inn.com</a></span>&nbsp;for reservations.</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">For the sleepy type</div>
			<p class="padding"><b>Blue Collar Hotel</b><br/></p>
			<p class="padding">Situated at hip Strijp-S and the Klokgebouw. The Blue Collar Hotel offers four different packages. What do they have in common? Free aspirin with a late breakfast, and checkout available at 14:00!&nbsp;</p>
			<p class="padding">1-bedroom + ticket starting at &euro;112,50 pp<br />2-bedroom + ticket starting at &euro;85,25 pp</p>
			<p class="padding">Please follow<a href="http://www.bluecollarhotel.nl/en/events/extrema-outdoor-2015/" target="_blank"> this link</a><span class="s2">&nbsp;</span>for&nbsp;reservations.</p>
		</div>

		</div>
  	</ion-content>
</ion-view>
