<ion-view view-title="" id="infoPage">
	<div id="logo">
  		<h1 class="title text-center uppercase bold color-white howtogetthere" style="font-size: 20px;">How to get there</h1>
  	</div>
  	<ion-content>
		<div id="content" class="padding">
			<div class="info-card">
				<div class="title uppercase bold padding color-white">car</div>
				<p class="padding">Do you have space left in your car? Bring somebody! Offer your ride in the Toogethr carpoolapp and make your ride more fun, cheaper and much more sustainable. Sounds good? <a href="https://m.toogethr.com/group/extrema-outdoor" target="_blank">Click&nbsp;here &gt;</a></p>
				<p class="padding">Address: Ekkersrijt 9004, 5692 KA Son</p>
				<p class="padding"><strong><span lang="\&quot;EN-US\&quot;">Arriving from the highway A58 Tilburg:</span></strong><span lang="\&quot;EN-US\&quot;"><br />Please follow the directions on the yellow signs.&nbsp;<br />Follow Nijmegen/Helmond and take exit number 6 called &ldquo;Ekkersrijt&rdquo;.&nbsp;<br />Go left at the roundabout. At the next traffic lights go straight ahead.&nbsp;<br />At the next traffic lights turn left. Please follow the signs Extrema and the instructions given to you by Extrema&rsquo;s certified personnel.</span></p>
				<p class="padding"><strong><span lang="\&quot;EN-US\&quot;">Arriving from Eindhoven (J.F. Kennedylaan) to Ekkersrijt:</span></strong><span lang="\&quot;EN-US\&quot;"><br />Please follow the directions on the yellow signs. Keep left and follow the highway A58&lsquo;s Hertogenbosch/Tilburg and take exit 6 &ldquo;Ekkersrijt&rdquo;.&nbsp;Go right at the roundabout. At the next traffic lights go straight ahead.&nbsp;<br />At the next traffic lights turn left. Please follow the signs Extrema and the instructions given to you by Extrema&rsquo;s certified personnel.</span></p>
				<p class="padding"><span lang="\&quot;EN-US\&quot;"><strong>Arriving from the highway A50 Son en Breugel/Oss/Nijmegen:</strong><br />Please follow the directions on the yellow signs. Keep right and follow Helmond/&nbsp; Eindhoven Centrum/ Ekkersrijt.&nbsp;<br />After about 600 meters still keep right and take exit 6 &ldquo;Ekkersrijt&rdquo;. Go right at the roundabout. At the next traffic lights go straight ahead. At the next traffic lights turn left. Please follow the signs Extrema and the instructions given to you by Extrema&rsquo;s certified personnel.</span></p>
				<p class="padding"><strong><span lang="\&quot;EN-US\&quot;">Arriving from the highway A2 Amsterdam/ &lsquo;s Hertogenbosch:</span></strong><span lang="\&quot;EN-US\&quot;"><br />Please follow the directions on the yellow signs. Do not take exit 28 &ldquo;Best&rdquo; of the A2. Follow the A58 towards Helmond/Nijmegen and take exit number 6 called &ldquo;Ekkersrijt.&rdquo; Go left at the roundabout. At the next traffic lights go straight ahead. At the next traffic lights turn left. Please follow the signs Extrema and the instructions given to you by our certified personel.</span></p>
				<p class="padding"><b>Parking</b><br/><span>With the XO+ parking ticket you can park your car near the entrance of the festival (soon available). Regular parking tickets are not available in pre-sale.</span></p>
			</div>


			<div class="info-card">
				<div class="title uppercase bold padding color-white">touringcars</div>
				<p class="padding">For the real party animals there is also a luxerious touringcar available, that has more than 140 departure locations in the Netherlands. Check it out at www.eventtravel.nl.</p>
				<p class="padding"><span>Follow the route to the A50 and take exit 6 to Industrieterrein Ekkersrijt. Follow the signs marked 'Touringcars' and the instructions by the traffic controllers.</span></p>
				<p class="padding"><b>Transport by luxury coach to XO?</b><br/>Start your XO experience in one of our luxury coaches!&nbsp;From more than 152 locations in the Netherlands the coaches depart to XO.</p>
				<p class="padding">Buy a combi ticket (entrance + bus trip) and save additional fee / handling costs or buy a single (two ways) bus trip! For all information check: <a href="http://www.eventtravel.nl" target="_blank">www.eventtravel.nl</a> or call +31(0)38-425 67 30.</p>
				<p class="padding"><b>Carpool</b><br/>Hot tip: carpool! Have you got a spot left in your car, or looking for someone to drive with you to and from XO Live. Just think of the benefits... Affordable, durable and probably very cozy! Yes, we LOVE carpooling. Find passengers or look for a ride <a href="https://m.toogethr.com/group/extrema-outdoor" target="_blank">here&gt;</a></p>
			</div>

			<div class="info-card">
				<div class="title uppercase bold padding color-white">taxi</div>
				<p class="padding">The taxi stand for drop offs and pick ups is the Hallenweg. The taxi driver can follow the signs to the festival and from here you'll walk to the entrance in a couple of minutes.</p>
			</div>

			<div class="info-card">
				<div class="title uppercase bold padding color-white">Kiss &amp; Ride</div>
				<p class="padding">For Kiss &amp; Ride go to 'Industrie terrein 't Zand'.</p>
			</div>

			<div class="info-card">
				<div class="title uppercase bold padding color-white">bike</div>
				<p class="padding">Bicycles and motorcycles have their own parking space. Take the bicycle route to Aquabest and follow the signs marked 'Fietsers' and the instructions by the traffic controllers.</p>
			</div>

			<div class="info-card">
				<div class="title uppercase bold padding color-white">Public Transport</div>
				<p class="padding">Comin' by public transport? You can buy a special XO return ticket at&nbsp;https://www.ns.nl/eticket&nbsp;for train and bus. There will be special busses from Best train station to the festival and back. These busses wil start departing from 10:45AM till the end of the festival.</p>
				<p class="padding">If you travel only by bus from Best train station a return ticket will be 5 euro.&nbsp;The first bus will depart at 10:45AM and the last bus will leave from the festival till every body has left.</p>
			</div>

			<div class="info-card">
				<div class="title uppercase bold padding color-white">Going home by train after XO?</div>
				<p class="padding"><b>Check here the last trains departing from station Best.</b><br><table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
						<td colspan="3" valign="top"><strong>Saturday Juli 13&nbsp;</strong></td>
						</tr>
						<tr>
						<td colspan="3" valign="top"><strong><br /> Towards Eindhoven, Venlo/Roermond</strong></td>
						</tr>
						<tr>
						<td valign="top" width="50"><strong>Tijd</strong></td>
						<td valign="top" width="322"><strong>bestemming</strong></td>
						<td valign="top" width="279"><strong>soort trein</strong></td>
						</tr>
						<tr>
						<td valign="top" width="50">23.30</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.22</td>
						<td valign="top" width="322">Eindhoven, Weert, Roermond, Sittard, Maastricht</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.24</td>
						<td valign="top" width="322">Eindhoven,Venlo</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.46</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.52</td>
						<td valign="top" width="322">Eindhoven, Weert, Roermond, Sittard, Maastricht</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.00</td>
						<td valign="top" width="322">Eindhoven, Helmond, Deurne</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.24</td>
						<td valign="top" width="322">Eindhoven,Venlo</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.30</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.46</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">01.00</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">01.30</td>
						<td valign="top" width="322">Eindhoven</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td colspan="3" valign="top"><strong><br /> Towards Boxtel, 's Hertogenbosch/Tilburg</strong></td>
						</tr>
						<tr>
						<td valign="top" width="50"><strong>Tijd</strong></td>
						<td valign="top" width="322"><strong>bestemming</strong></td>
						<td valign="top" width="279"><strong>soort trein</strong></td>
						</tr>
						<tr>
						<td valign="top" width="50">23.09</td>
						<td valign="top" width="322">Tilburg, Breda, Dordrecht, Rotterdam, Den Haag</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.09</td>
						<td valign="top" width="322">s-Hertogenbosch, Utrecht, Amsterdam</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.28</td>
						<td valign="top" width="322">Boxtel, 's Hertogenbosch, Oss, Nijmegen</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.39</td>
						<td valign="top" width="322">Tilburg, Breda, Dordrecht, Rotterdam, Den Haag</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.39</td>
						<td valign="top" width="322">s-Hertogenbosch, Utrecht, Amsterdam</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.42</td>
						<td valign="top" width="322">Boxtel, Tilburg, Tilburg Universiteit</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">23.58</td>
						<td valign="top" width="322">Boxtel, 's Hertogenbosch</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.27</td>
						<td valign="top" width="322">Boxtel, 's Hertogenbosch</td>
						<td valign="top" width="279">sprinter</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.38</td>
						<td valign="top" width="322">s Hertogenbosch, Utrecht</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
						<tr>
						<td valign="top" width="50">00.39</td>
						<td valign="top" width="322">Tilburg, Breda, Dordrecht, Rotterdam</td>
						<td valign="top" width="279">Intercity</td>
						</tr>
					</tbody>
				</table></p>
			</div>

		</div>
  	</ion-content>
</ion-view>
