<ion-view view-title="" id="infoPage">
	<div id="logo">
  		<h1 class="title text-center uppercase bold color-white" style="font-size:24px;">Q&amp;A</h1>
  	</div>
  	<ion-content>
		<div id="content" class="padding">
			<div class="info-card">
				<div class="title uppercase bold padding color-white">Q&amp;A</div>
				<p class="padding"><b>Timetable &amp; Floorplan</b><br/>Are availlable in our festival app <a href="http://appmiral.com/app/extrema-nl" target="_blank">here &gt;&gt;&gt;</a></p>
				<p class="padding"><b>Is there an app?</b><br/>Yessurrr... You can find the iPhone and Android app <a href="http://appmiral.com/app/extrema-nl" target="_blank">here &gt;&gt;&gt;<br /><br /></a>There is also a special app for our opening and closing show<br /><a href="http://bit.ly/iPhoneShowapp2014" target="_blank">iPhone</a>&nbsp;-&nbsp;<a href="http://bit.ly/AndroidShowapp2014" target="_blank">Android</a></p>
				<p class="padding"><b>How about security and first aid on and around the festival premises?</b><br/><span>We have plenty of security personnel on and around the festival premises. Please be aware that these people are around for your safety and the safety of your loved ones, so please follow their instructions carefully. There will be a professional first aid station on site, clearly marked at the event.</span></p>
				<p class="padding"><b>What time does the festival start and end?</b><br/><span>The festival starts at 11:00 hrs and will end at 23.00 hrs.</span></p>
				<p class="padding"><b>Is there a minimum age?</b><br/><span>Yep, the minimum age to celebrate XO with us is 18. Be sure you have your ID ready at the entrance, folks!</span></p>
				<p class="padding"><b>Once I leave the festival premises, can I come back to the festival later on?</b><br/><span>Nope, once you decide to leave us, you won't be able to get back to the event.</span></p>
				<p class="padding"><b>What if I take medicins/have allergies?</b><br/>Do you need medicins during the festival? No prob, just make sure to bring all medical prescriptions. The accompanying names on the boxes should match the person&rsquo;s ID of course.</p>
				<p class="padding"><b>Do you want to bring your own food to the festival due to allergies?</b><br />That&rsquo;s no problem either. Just make sure you contact us a couple of weeks before the festival through mail at <a href=\"mailto:info@extrema.nl\">info@extrema.nl</a>, so we&rsquo;re able to inform you how to make the proper arrangements for this.</p>
				<p class="padding"><b>Will there be vegetarian and biological food served?</b><br/><span>Sure!</span></p>
				<p class="padding"><b>Will there be parking and toilet possibilities for disabled persons?</b><br/><span>Yes, there will be a disabled person parking as close to the entrance as possible. You are allowed to park there after showing your personal and official &ldquo;disabled person parking permit&rdquo;. Regarding the toilets; there is a special disabled person toilet in every toilet area at the festival premises. For questions please contact&nbsp;</span><a href=\"\\&quot;\\\\&quot;mailto:info@extrema.nl\\\\&quot;\\&quot;\">info@extrema.nl</a><span>.</span></p>
				<p class="padding"><b>I'm a breastfeeding mum. What about expressing breast milk?</b><br/><span>At the first aid area in the beach club we have a special area available for all this.</span></p>
				<p class="padding"><b>What about foto and video registrations?</b><br/><span>You are allowed to bring your camera when it&rsquo;s not a proffesional one. We like you to share your pictures with us on our Facebook page!</span><br /><br /><span>By entering this event you automatically agree and accept the terms of use of all video filming and photo image registrations and agree with Extrema and its media partners to use these images.</span></p>
				<p class="padding"><b>Are there Lockers at the festival?</b><br/><span>There are lockers available near the entrance of the festival.</span></p>
				<p class="padding">Visitors enter the festival ground at their own risk. The organization is not responsible for any kind of damage, both physically and mentally.</p>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">What's not allowed</div>
			<ul>
				<li class="padding">Violence and intimidating behavior, as well as discrimination and sexual intimidation.&nbsp;</li>
				<li class="padding">Wearing any type of provocative clothing (like football shirts).&nbsp;No colours.&nbsp;</li>
				<li class="padding">The possession of weapons, glass, spraycans, cans, fireworks and umbrellas.</li>
				<li class="padding">The use as well as the possession of drugs. We have a &ldquo;zero tolerance&rdquo; policy regarding drugs.</li>
				<li class="padding">It is not allowed to smoke indoors (in the tents), only outdoors.</li>
				<li class="padding">It&rsquo;s fine to have a drink or two, but make sure you don&rsquo;t drink too much. Drunk visitors have to leave the festival.</li>
				<li class="padding">Don&rsquo;t throw your waist on the floor. Please make sure you put it in the garbage bins.</li>
				<li class="padding">Deliberately damaging or stealing Extrema&rsquo;s or other's property is prohibited.</li>
			</ul>
		</div>

		<div class="info-card">
			<div class="title uppercase bold padding color-white">Lost &amp; Found</div>
			<p class="padding">Did you loose some thing or found some thing?&nbsp;<br />Look it up on iLost via&nbsp;<a href="https://ilost.nl/org/extrema" target="_blank">this link &gt;&gt;&gt;</a></p>
		</div>


		</div>
  	</ion-content>
</ion-view>
