<ion-view view-title="" id="artists">
  	<ion-content>	

  		<div id="logo">
  			
  			<h1 class="title text-center uppercase">Artists</h1>

  		</div>

  		<div id="areas">

			<ion-scroll direction="x" class="wide-as-needed">
		        <a class="button selected button-clear"> 1</a>
		        <a class="button button-clear">2</a>
		        <a class="button button-clear">3</a>
		        <a class="button button-clear">4</a>
		        <a class="button button-clear">5</a>
		        <a class="button button-clear">6</a>
		        <a class="button button-clear">7</a>
		        <a class="button button-clear">8</a>
		        <a class="button button-clear">9</a>
		        <a class="button button-clear">10</a>
		        <a class="button button-clear">11</a>
		        <a class="button button-clear">12</a>
		        <a class="button button-clear">13</a>
		        <a class="button button-clear">14</a>
		        <a class="button button-clear">15</a>
		        <a class="button button-clear">16</a>
      		</ion-scroll>
			
  		</div>



	  		<!-- <button class="button button-positve" ng-click="clear()">
	  			Clear db
	  		</button> -->
		<ion-list id="artists">
			
			<ion-item collection-repeat="artist in artists" class="item-icon-right">
					
				<i class="icon" ng-click="addToFavorites(artist._id)" ng-class="artist.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></i>


		    	<a ng-href="#/app/artists/{{artist._id}}">{{artist.name.__cdata}} {{ status(artist._id) }}</a>
				
		  	</ion-item>

		</ion-list>

  	</ion-content>
</ion-view>