<ion-view view-title="" id="artists">
	<div id="logo">
  		<h1 class="title text-center uppercase">Artists</h1>
  	</div>
  	<div id="areas">
		<ion-scroll direction="x" class="wide-as-needed">
			<a href="" class="button button-clear selected">
				All
			</a>
	        <a class="button button-clear" ng-repeat="area in areas">
	        <!-- add class selected to current selected -->
	        	{{area.title.toString()}}
	        </a>
  		</ion-scroll>
	</div>

  	<ion-content>	
  		<div id="content">
			<ion-list ng-init="getArtists()">

				<!-- <div class="row nopadding" ng-repeat="artist in artists" ng-if="$index % 2 === 0">
					<div class="col col-50 nopadding" ng-if="$index < artists.length">
						<img ng-src="{{artists[$index].image.__cdata}}" alt="" width="100%">
						<div class="name uppercase">{{artists[$index].name.__cdata}} {{ status(artist._id) }}</div>
						<br>
					</div>
					<div class="col col-50 nopadding" ng-if="$index + 1 < artists.length">
						<img ng-src="{{artists[$index + 1].image.__cdata}}" alt="" width="100%">
						<div class="name uppercase">{{artists[$index + 1].name.__cdata}} {{ status(artist._id) }}</div>
						<br>
					</div>

				</div> -->
			
				<div collection-repeat="artist in artists" collection-item-height="200px" class="item col col-50 nopadding">
					<div class="item-content item-artist">
						<i class="icon" ng-click="addToFavorites(artist._id)" ng-class="artist.favourited ? 'ion-ios-heart' : ' ion-ios-heart-outline'"></i>	

						<a class="img-artist" ng-href="#/app/artists/{{artist._id}}">
							<img ng-src="{{artist.image.__cdata}}" height="200px">
						</a>
						
						<div class="info color-white">

							<span class="name uppercase">{{artist.name.__cdata}}</span>

						</div>


						

						<!-- 
				    	<a ng-href="#/app/artists/{{artist._id}}">{{artist.name.__cdata}} {{ status(artist._id) }}</a>	 -->
			    	</div>
			    										
			  	</div>

			</ion-list>

  		</div>


		<!-- Debuggin purposes only -->
  		<!-- <button class="button button-positive button-full" ng-click="clear()" style="position: relative; top: 150px;">
  			Clear db
  		</button> -->
  	</ion-content>
</ion-view>