<ion-view view-title="Home">
    <ion-content class="padding">
        <p>Home</p>

        <button class="button button-full button-positive" ng-click="getLocation()">
    	   Gps locatie
        </button>

	   {{ location }}

    	<a ng-href="#/private/create">create</a>
    	<a ng-href="#/private">private</a>
    	<a ng-href="#/public">public</a>

        <img img-cache ng-src="http://lorempixel.com/g/400/103/" >

        <img img-cache ng-src="http://lorempixel.com/g/400/102/" >

        <img img-cache ng-src="http://lorempixel.com/g/400/101/" >

        <img img-cache ng-src="http://lorempixel.com/g/400/100/" >

    </ion-content>
</ion-view>