<ion-view view-title="" id="info">
  	<ion-content>
			
		<div id="logo">
			<h1 class="title text-center uppercase bold">Info</h1>
			<img src="img/crinkles/trianglesmallup.svg" class="crinkles" id="leftcrinkle" alt="crinkles up">
			<img src="img/crinkles/trianglesmalldown.svg" class="crinkles" id="rightcrinkle" alt="crinkles up">
		</div>
		
		<div class="list padding">
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/aboutus">
                    <img src="img/aboutus.svg" alt="About Us">
                    <div>About us</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/general">
                    <img src="img/general.svg" alt="General">
                    <div>General</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/htgt">
                    <img src="img/howtogetthere.svg" alt="How to get there">
                    <div>How to get there</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/hotelpackages">
                    <img src="img/hotelpackages.svg" alt="Hotel Packages">
                    <div>Hotel packages</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/qa">
                    <img src="img/qa.svg" alt="Q&amp;A">
                    <div>Q&amp;A</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcHeight+'px' }" href="#/app/info/disclaimer">
                    <img src="img/disclaimer.svg" alt="Disclaimer">
                    <div>Disclaimer</div>
                </a>
            </div>
		
  	</ion-content>
</ion-view>