<ion-view view-title="" id="news">
    <ion-content>

        <div class="list">
            <div class="item" id="logo">

            </div>
            <div class="item text-center" id="counter">
                <p class="timer">{{counter.days}}:{{counter.hours}}:{{counter.minutes}}:{{counter.seconds}}</p>
            </div>

            <div class="item nopadding">
                <div class="row nopadding">
                    <div class="col col-50">

                        text

                    </div>
                    <div class="col col-50 nopadding">
                        <img src="http://lorempixel.com/400/400" alt="" width="100%">
                    </div>
                </div>
            </div>

            <div class="item nopadding">
                <div class="row nopadding">
                    <div class="col col-50 nopadding">
                        <img src="http://lorempixel.com/400/400" alt="" width="100%">
                    </div>
                    <div class="col col-50">
                       
                        text

                    </div>
                </div>
            </div>
            <div class="item nopadding">
                <div class="row nopadding">
                    <div class="col col-50">

                        text

                    </div>
                    <div class="col col-50 nopadding">
                        <img src="http://lorempixel.com/400/400" alt="" width="100%">
                    </div>
                </div>
            </div>
            
        </div>

    </ion-content>
</ion-view>