// Colors
$red: #E64551;
$white: #FFFFFF;
$purple: #915F9F;
$black: #3D3936;
$green: #78B75A;
$yellow: #F8DC3B;
$blue: #4BB8D6;
$orange: #F09202;

// If we use a clear header this will make the text show again
.bar.bar-clear,
.bar.bar-clear .button, 
.bar.bar-clear .title {
  	color: $dark;
}

.nopadding {
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

// For styling the custom headers
#logo {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: $red;
	
	h1.title {
		line-height: 115px;
	}
}