// Colors
$red: #E64551;
$white: #FFFFFF;
$purple: #915F9F;
$black: #3D3936;
$green: #78B75A;
$yellow: #F8DC3B;
$blue: #4BB8D6;
$orange: #F09202;

// Proxima nova font
@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_regular-webfont.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_semibold-webfont.svg#proxima_nova_alt_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_extrabold';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_extrabold-webfont.svg#proxima_nova_altextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// If we use a clear header this will make the text show again
.bar.bar-clear,
.bar.bar-clear .button, 
.bar.bar-clear .title {
  	color: $dark;
}

.nopadding {
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

// For styling the custom headers
#logo {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: $red;
	
	h1.title {
		line-height: 115px;
	}
}