#info {
	.has-header {
		top: 0;
	}
	.crinkles {
		height: 
	}
	.infoElement{
	display: block;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;	
		a {
			width: 100%;
			padding: 0;
			height: 100%;
			line-height: 20px;
			text-align: center;
			color:blue;
		}
	
	}
}