#news {
	.has-header {
		top: 0px;
	}
	.item {
		height: 150px;
		border: 0;
		p {
			overflow: visible;
		}
	}

	#logo {
		position: relative;
	}
	#counter {
		background-color: #4BB8D6;
		p {
			color: #fff;
			font-size: 3em;
			&.timer{
				line-height: 115px;
			}
		}
	}
}