<ion-view view-title="Create">
  	<ion-content class="padding">

		<a ng-href="#/login">Login</a>
		<a ng-href="#/signup">signup</a>
		<a ng-href="#/private">private</a>
		<a ng-href="#/public">public</a>

		<form>
    		<div class="list list-inset">
	 			<label class="item item-input">
	    			<input type="text" placeholder="Title" ng-model="experience.title">
	 			</label>
	 			<label class="item item-input item-select">
    				<div class="input-label">
      					Festivals
    				</div>
    				<select ng-model="experience.festival">
      					<option>Extrema Outdoor</option>
      					<option>Paaspop</option>
      					<option>Dominator</option>
      					<option>Request new</option>
    				</select>
  				</label>

	 			<label class="item item-input">
	    			<input type="text" placeholder="quote" ng-model="experience.quote">
	 			</label>

				<button class="button button-full button-clear" ng-click="addMedia()">
					<i class="icon ion-plus"></i> Add Media
				</button>
			</div>
    	</form>

    	<button class="button button-full button-calm">
    		<i class="icon ion-plus"></i> Submit
    	</button>

  	</ion-content>
</ion-view>