<ion-view view-title="" id="artist">
    <ion-content>
    	<div class="image-header" style="position: relative; z-index: -1;">
    		<i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)" class="color-white" ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }" style="position: absolute; top: 10px; right: 10px; font-size: 36px; z-index: 500;"></i>
    		<img ng-src="{{artist.image.__cdata}}" width="100%">
        	
    	</div>
        

		<div class="padding">

			<h1>{{artist.name.__cdata}}</h1>
	        <p>Biography: {{artist.biography.__cdata}}</p>

	        <p>StartTime: {{toTime(artist.start_time)}}</p>
	        <p>Endtime: {{toTime(artist.endtime)}}</p>
	        <p>Stage: {{artist.stage_id}}</p>
	       	<p>Summary: {{artist.summary}}</p>
	        
        </div>
    </ion-content>
</ion-view>