<ion-view view-title="" id="artist">
<ion-nav-buttons side="right">
  	<i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)" class="color-white" ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }" style="position: absolute; top: 10px; right: 10px; font-size: 36px; z-index: 500;"></i>
</ion-nav-buttons>
<ion-content>

<div class="image-header" style="position: relative; z-index: -1;">
	<!-- <i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)" class="color-white" ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }" style="position: absolute; top: 10px; right: 10px; font-size: 36px; z-index: 500;"></i> -->
	<img ng-src="{{artist.image.__cdata}}" width="100%">

</div>

<div class="spotify padding videogular-container" style="background-color: #678; min-height: 200px; font-size: 36px;" ng-if="spotify" ng-controller="ArtistCtrl as controller">

	<div class="text-center color-white padding">{{artist.name.__cdata}}</div>

	<div class="text-center color-white padding">{{track}}</div>

	<videogular class="videogular-container audio" style="">
		<vg-media vg-src="controller.config.sources" vg-type="audio"></vg-media>

		<vg-controls>
			
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>

			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>

			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>

			<vg-play-pause-button></vg-play-pause-button>

		</vg-controls>
	</videogular>

</div>

<div class="padding">

	<h1>{{artist.name.__cdata}}</h1>
	<p>Biography: {{artist.biography.__cdata}}</p>

	<p>StartTime: {{toTime(artist.start_time)}}</p>
	<p>Endtime: {{toTime(artist.endtime)}}</p>
	<p>Stage: {{artist.stage_id}}</p>
	<p>Summary: {{artist.summary}}</p>

</div>

</ion-content>
</ion-view>