<ion-view view-title="" id="artists">
	<div id="logo">
  		<img src="img/crinkles/artists-cr.svg">
  	</div>
  	<div id="areas">
		<ion-scroll direction="x" class="wide-as-needed">
			<ion-radio ng-model="$parent.stage" ng-value="''" name="stage" icon="false">All</ion-radio>
        	<ion-radio ng-repeat="area in areas" ng-model="$parent.$parent.stage" ng-value="area._id" name="stage" icon="false">{{::area.title.toString()}}</ion-radio>
  		</ion-scroll>
	</div>

  	<ion-content>	
  		<div id="content">
			<ion-list>
			
				<div collection-repeat="artist in artists.artist | filter: stage" collection-item-height="200px" class="item col col-50 animated fadeIn">
					
					<div class="item-content item-artist ">
						<i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)" class="color-white" ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }"></i>	

						<a class="img-artist" ng-href="#/app/artists/{{artist._id}}">
							<!-- <img img-cache ic-src="{{artist.image.__cdata}}" height="200px"> -->
							<img ng-src="{{artist.image.__cdata}}" height="200px">
						</a>
						
						<div class="info color-white">
							{{ isFavourite(artist._id) }}
							<span class="name uppercase">{{artist.name.__cdata}}</span> <br>
							<span class="color-black">{{artist.stage_name}}</span>

						</div>
			    	</div>								
			  	</div>

			</ion-list>

  		</div><!-- END CONTENT -->

		<!-- Debuggin purposes only -->
  		<!-- <button class="button button-positive button-full" ng-click="clear()" style="position: relative; top: 150px;">
  			Clear db
  		</button> -->
  	</ion-content>
</ion-view>