<ion-view view-title="" id="artists">
	<div id="logo">
  		<img src="img/crinkles/artists-cr.svg">
  	</div>
  	<div id="areas">
		<ion-scroll direction="x" class="wide-as-needed" delegate-handle="stages" scrollbar-y="false" scrollbar-x="false">
			<ion-radio ng-model="$parent.stage" ng-value="''" name="stage" icon="false" class="uppercase bold">All</ion-radio>
        	<ion-radio ng-repeat="stage in stages | orderBy: 'order'" ng-model="$parent.$parent.stage" ng-value="stage._id" name="stage" icon="false" class="uppercase bold">{{::stage.title.__cdata}}</ion-radio>
  		</ion-scroll>
	</div>

  	<ion-content on-swipe-left="swipe('left')" on-swipe-right="swipe('right')">
  		<div id="content">
			<ion-list>

				<div collection-repeat="artist in artists.artist | filter: stage | orderBy: 'end_time' :true" collection-item-height="199px" class="item col col-50">

					<div class="item-content item-artist">
						<i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)" class="color-white" ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }"></i>

						<a class="img-artist" ng-href="#/app/artists/{{artist._id}}">
							<img ng-src="{{artist.image.__cdata}}" height="200px">
						</a>

						<div class="info color-white" ng-class="artist.stage_name">
							{{ isFavourite(artist._id) }}
							<h2 class="name bold uppercase color-white">{{artist.name.__cdata}}</h2>
							<p class="performance bold uppercase color-white">{{artist.stage_name}} - {{toTime(artist.start_time)}} - {{toTime(artist.end_time)}}</p>
						</div>
			    	</div>
			  	</div>

			</ion-list>

  		</div><!-- END CONTENT -->
  	</ion-content>
</ion-view>
