<ion-view view-title="" id="favorites">
	<div id="logo">
  		<img src="img/crinkles/favourites-cr.svg">
  	</div>
  	
  	<ion-content>
		<div id="content">
			<div class="list">
				<div ng-repeat="artist in artists.artist">
					<a ng-if="artist.favourited" class="item item-icon-right item-thumbnail-left" ng-href="#/app/artists/{{artist._id}}">

						<img ng-src="{{::artist.image.__cdata}}" style="top:0; left: 0; bottom:0;">

						<div class="info">
							<h2>{{::artist.name.__cdata}}</h2>
				      		<p>{{::artist.stage_name}}</p>
				      		<p>{{::toTime(artist.start_time)}} - {{::toTime(artist.start_end)}}</p>
						</div>
						<i class="icon ion-heart color-red"></i>

					</a>
				</div>
			</div>

		</div>
  	</ion-content>
</ion-view>