<ion-view view-title="" id="favorites">
<div id="logo">
	<img src="img/crinkles/favourites-cr.svg">
</div>

<ion-tabs class="tabs-top tabs-text-only">
<ion-tab title="FAVOURITES">
<ion-content>
<div id="content">
	<div class="list">
		<div class="artist" ng-repeat="artist in artists.artist | orderBy: 'start_time'" ng-if="artist.favourited">
			<a  class="item item-icon-right item-thumbnail-left" ng-href="#/app/artists/{{artist._id}}">

				<div class="favorite-image absolute" ng-style="{'background-image': 'url({{artist.image.__cdata}})'}" ng-class="artist.stage_name"></div>
				<div class="info">
					<h2 class="bold uppercase color-black">{{::artist.name.__cdata}}</h2>
					<p class="bold uppercase area">{{::artist.stage_name}}</p>
					<p class="time">{{::toTime(artist.start_time)}} - {{::toTime(artist.end_time)}}</p>
				</div>
				<i class="icon ion-heart color-red"></i>

			</a>
		</div>
	</div>
	<!-- FIX DIT MET FAVOURITES -->
<!-- 				<div class="text-wrap">
					<div class="text-head text-center">
						<div class="text semibold">YOU HAVE NO</div>
						<div class="text semibold">FAVOURITES YET</div>
						<img id="crinkle-no-favourite" ng-src="img/crinkles/favourites-cr-no-fav.svg"/>
						<div class="text-small semibold">YOU CAN ADD FAVOURITES BY MARKING ARTISTS WITH THE <i class="icon ion-heart color-red"></i> BUTTON.<br> YOUR PERSONAL SCHEDULE AND<br> WARM-UP MIX WILL THEN BE CREATED.
						</div>
					</div>
				</div> -->
			</div>
		</ion-content>
	</ion-tab>
	<ion-tab title="WARM UP">
	<ion-content>
	<div id="content">
		{{playlist}}
	</div>
</ion-content>
</ion-tab>
</ion-tabs>
</ion-view>