<ion-view view-title="" id="favorites">
	<div id="logo">
  		<h1 class="title text-center uppercase">Favourites</h1>
  	</div>
  	
  	<ion-content>
		<div id="content">
			<div class="list">
				<div ng-repeat="artist in artists.artist">
					<a ng-if="artist.favourited" class="item" ng-href="#/app/artists/{{artist._id}}">

						<div class="row img-artist">
							<div class="col col-25">
								<img ng-src="{{artist.image.__cdata}}" alt="" width="100%;">
							</div>
							<div class="col col-75">
								<h2>{{artist.name.__cdata}}</h2>
					      		<p>{{artist.stage_id}}</p>
					      		<p>{{toTime(artist.start_time)}}</p>
							</div>
						</div>

					</a>
				</div>
			</div>

		</div>
  	</ion-content>
</ion-view>