<ion-view view-title="" id="info">
    <div id="logo">
        <img src="img/crinkles/info-cr.svg">
    </div>
  	<ion-content>
		<div id="content">
		
		    <div class="list padding">
                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/aboutus">
                    <img ng-src="img/aboutus.svg" alt="About Us">
                    <div class="title color-black uppercase">About us</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/qa">
                    <img ng-src="img/qa.svg" alt="Q&amp;A">
                    <div class="title color-black uppercase">Q&amp;A</div>
                </a>
<!--                 <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/general">
                    <img ng-src="img/general.svg" alt="General">
                    <div class="title color-black uppercase">General</div>
                </a>
 -->                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/howtogetthere">
                    <img ng-src="img/howtogetthere.svg" alt="How to get there">
                    <div class="title color-black uppercase">How to get there</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/hotelpackages">
                    <img ng-src="img/hotelpackages.svg" alt="Hotel Packages">
                    <div class="title color-black uppercase">Hotel packages</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/disclaimer">
                    <img ng-src="img/disclaimer.svg" alt="Disclaimer">
                    <div class="title color-black uppercase">Disclaimer</div>
                </a>
                <a class="item text-center color-black bold" ng-style="{'height':calcInfoHeight+'px' }" ng-href="#/app/info/boa">
                    <img ng-src="img/boa.svg" alt="Boa">
                    <div class="title color-black uppercase">Bottle of Awesome</div>
                </a>
            </div>
            
		</div>
  	</ion-content>
</ion-view>