<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content edge-drag-threshold="true">
        <ion-nav-bar class="bar-clear">
            <ion-nav-back-button class="button-icon button-clear ion-android-arrow-back">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon hamburger text-center" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div ng-if="isIOS()" class="ios-filler"></div>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="menu">
        <a menu-close id="logo" ng-href="#/app/news">
            <img ng-src="img/menu-logo.svg" alt="" style="width: 275px; padding: 32px 45px;">
        </a>
        <ion-content  id="sideMenu">
            <div id="content">
                <ion-list>
                    <ion-item menu-close id="newsMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/news">
                        <p>News</p>
                    </ion-item>
                    <ion-item menu-close id="artistsMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/artists">
                        <p>Artists</p>
                    </ion-item>
                    <ion-item menu-close id="infoMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/info">
                        <p>Info</p>
                    </ion-item>
                    <ion-item menu-close id="scheduleMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/schedule">
                        <p>Schedule</p>
                    </ion-item>
                    <ion-item menu-close id="mapMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/map">
                        <p>Map</p>
                    </ion-item>
                    <ion-item menu-close id="favouritesMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/favorites">
                        <p>Favourites</p>
                    </ion-item>
                    <ion-item menu-close id="XOmemoriesMB" class="menuButton" ng-style="{'height':calcHeightMB+'px' }" ng-href="#/app/xomemories">
                        <p>XO Memories</p>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
