<ion-view view-title="" id="news">
    <div id="logo">
        <img src="img/crinkles/news-cr.svg">
    </div>
    <ion-content>

        <div id="content">

            <div class="list">
                <div class="item text-center" id="counter">
                    <p class="timer">{{counter.days}}:{{counter.hours}}:{{counter.minutes}}:{{counter.seconds}}</p>
                </div>
                <div class="item animated fadeIn">
                    <div class="row">
                        <div class="col col-25">
                            <img src="http://lorempixel.com/400/400" alt="" width="100%">
                        </div>
                        <div class="col col-75">
                            <div>Extrema outdoor</div>
                            <div>@ExtremaOutdoor</div>
                        </div>
                    </div>
                </div>
                <div class="item animated fadeIn">
                    <div class="row">
                        <div class="col col-25">
                            <img src="http://lorempixel.com/400/400" alt="" width="100%">
                        </div>
                        <div class="col col-75">
                            <div>Extrema outdoor</div>
                            <div>@ExtremaOutdoor</div>
                        </div>
                    </div>
                </div>
                <div class="item animated fadeIn">
                    <div class="row ">
                        <div class="col col-25">
                            <img src="http://lorempixel.com/400/400" alt="" width="100%">
                        </div>
                        <div class="col col-75">
                            <div>Extrema outdoor</div>
                            <div>@ExtremaOutdoor</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>