<ion-view view-title="" id="schedule">
    <div id="logo">
        <img src="img/crinkles/schedule-cr.svg">
    </div>
    <ion-content>
        <div id="content">
            <!-- <div class="stage padding uppercase bold" ng-repeat="(key, value) in artists.artist | groupBy: 'stage_name'"> -->
                <!-- <div class="stage-id color-white padding">{{ key }}</div> -->

                <!-- <br>

            </div> -->
            <ion-scroll direction="x" class="wide-as-needed top" delegate-handle="top">
              
                <div class="stage stage-top padding uppercase bold" ng-repeat="(key, value) in artists.artist | groupBy: 'stage_name'">
                    {{key}}
                </div> 

            </ion-scroll>
            
            <ion-scroll direction="xy" class="wide-as-needed bottom" delegate-handle="bottom" on-scroll="scrolling()">
              
                <div class="stage padding" ng-repeat="(key, value) in artists.artist | groupBy: 'stage_name'">
                        
                    <div ng-repeat="artist in value">
                        
                        <div class="stage-artist">{{artist.name.__cdata}}</div>

                    </div>

                </div>  
                              
            </ion-scroll>

        </div>
    </ion-content>
</ion-view>