<ion-view view-title="" id="schedule">
    <div id="logo">
        <img src="img/crinkles/schedule-cr.svg">
    </div>
    <ion-content>
        <div id="content">
            <div class="blocker"></div>
            <ion-scroll direction="x" ng-style="{'width':calcWidthSC+'px' }" show-scrollbar-x="false" delegate-handle="top" overflow-scroll="true">
                <div class="spacer"></div>
                <div class="stages" style="width: 1365px;">
                    <div class="padding-horizontal stage" ng-repeat="(key, value) in artists.artist | groupBy: 'stage_name' | orderBy: 'value.order'" style="float: left;">
                        <div class="stage-name semibold uppercase" ng-class="key">
                            {{key}}
                        </div>
                    </div>
                </div>
            </ion-scroll>

            <ion-scroll direction="xy" id="schedule-size" ng-style="{'width':calcWidthSC+'px', 'height':calcHeightSC+'px' }" delegate-handle="bottom" on-scroll="scrolling()">
                <div id="hours"></div>
            	<div id="timeline" ng-style="{'top':linePosition() +'px'}" ng-if="check() == true"></div>
                <div id="schedule-bg-scroll" style="width: 1365px; height: 1290px;">
                    <div class="padding" ng-repeat="(key, value) in artists.artist | groupBy: 'stage_name' | orderBy: 'order'" style="float: left;">

                        <div ng-repeat="artist in value | orderBy: 'end_time'" ng-if="!!calculateHeight(artist)">
                            <div class="stage-artist uppercase" ng-style="{'height': calculateHeight(artist)}"  ng-class="artist.name.__cdata">
                                <a ng-href="#/app/artists/{{artist._id}}" class="padding color-white semibold" style="display: block; height:100%;" ng-class="artist.stage_name">
                                    <i ng-click="artist.favourited=!artist.favourited; addToFavorites(artist._id)"  ng-class="{'icon ion-ios-heart': artist.favourited , 'icon ion-ios-heart-outline': !artist.favourited }" style="padding-left:10px; font-size: 24px; float:right; z-index: 500;"></i>
                                    {{artist.name.__cdata}}
                                    <div class="stage-time">{{toTime(artist.start_time)}} | {{toTime(artist.end_time)}}</div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </ion-scroll>

        </div>
    </ion-content>
</ion-view>
