<ion-view view-title="" id="memories">
<div id="logo">
	<h1 class="title text-center uppercase">XO Memories</h1>
</div>
<ion-content>
<div id="content">
	<div class="list">
		<div class="item add color-bg-blue zindex4">
			<img class="center-image icon" ng-src="img/xomemories/images_icon.svg" alt="Images">
			<p class="color-white bold">ADD IMAGES</p>	
		</div>
		<div class="triangle1 zindex4"></div>
		<div class="item add color-bg-orange zindex3">
			<img class="center-image icon" ng-src="img/xomemories/video_icon.svg" alt="Video">
			<p class="color-white bold">ADD VIDEOS</p>
		</div>
		<div class="triangle2 zindex3"></div>
		<div class="item add color-bg-green zindex2">
			<img class="center-image icon" ng-src="img/xomemories/sound_icon.svg" alt="Sound">
			<p class="color-white bold">ADD SOUND</p>
		</div>
		<div class="triangle3 zindex2"></div>
		<div class="item next color-bg-red zindex1">
		<p class="color-white bold">NEXT!</p>
		</div>
	</div>

</div>
</ion-content>
</ion-view>