<ion-view view-title="" id="memories">
	<div id="logo">
		<img src="img/crinkles/memories-cr.svg">
	</div>
	<ion-content scroll="false">
		<div id="content" ng-style="{'height': memoryHeight+'px'}">
			<div class="list">
				<a  ng-click="slcImg()"  ng-disabled="!ready" class="item add image color-bg-blue" ng-style="{'height': itemHeight+'px'}">
					<div id="blueBg" class="zindex2"ng-style="{'height': itemHeight+'px'}" ></div>
					<div id="bWrap" class="zindex1">

						<div class="row" ng-style="{'height': bHeight+'px'}">
							<div class="col" class="divBack" id="image1"></div>
							<div class="col" class="divBack" id="image2"></div>
							<div class="col" class="divBack" id="image3"></div></div>
							<div class="row" ng-style="{'height': bHeight+'px'}">
								<div class="col" class="divBack" id="image4"></div>
								<div class="col" class="divBack divBackBottom" id="image5"></div>
								<div class="col" class="divBack divBackBottom" id="image6"></div>
							</div>
						</div>
						<div id="topIcon" class="wrap zindex3" >
							<img class="center-image icon " ng-src="img/xomemories/images_icon.svg" alt="Images">
							<p class="color-white bold uppercase ">ADD IMAGES</p>
							<p class="color-white uppercase limit ">max 10</p>
						</div>



					</a>
					<a class="item add video color-bg-orange" ng-style="{'height': itemHeight+'px'}">
						<div class="triangle1"></div>
						<div class="wrap">
							<img class="center-image icon" ng-src="img/xomemories/video_icon.svg" alt="Video">
							<p class="color-white bold uppercase">ADD VIDEOS</p>
							<p class="color-white uppercase limit">max 3</p>
						</div>
					</a>
					<a class="item next color-bg-red" ng-href="#/app/xomemoriesNext">
						<div class="triangle2"></div>
						<div class="nextwrap">
							<img class="leftcr" ng-src="img/crinkles/memoleft-cr.svg" />
							<p class="color-white bold">NEXT!</p>
							<img class="rightcr" ng-src="img/crinkles/memoright-cr.svg" />
						</div>
					</a>
				</div>
			</div>
		</ion-content>
	</ion-view>
